<form action="/users" method="post" accept-charset="UTF-8" >
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
  >
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username" autocomplete="off">
  <label for="email">Email adress</label>
  <input type="email" name="user[email]" id="email" autocomplete="off">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" autocomplete="off">
  <input type="submit" value="Submit form">
</form>
